/* src/app/HomePage.module.css */
/* src/app/HomePage.module.css */
.container {
  position: relative;
  min-height: 120vh;
  background: url('/cov1.webp') no-repeat center center/cover;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63); /* Dark overlay with 50% opacity */
  z-index: 1; /* Place the overlay below the text */
}

.main {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 2; /* Ensure the text is above the overlay */
  color: white;
}

.tagline {
  font-size: 4.5rem;
  font-weight: bold;
 margin-top: 30%;
 margin-bottom: 3%;
}

.subtagline1 {
  color: white; /* Change text color to white for contrast */
  font-family: Arial, Helvetica, sans-serif;
 font-style: italic;
 font-weight: bold;
  font-size: 150%;
     margin-top: 1rem;
    z-index: 3; /* Ensure the subtagline text is above everything else */
}


/* Small screens */
@media (max-width: 640px) {
  .container {
    height: 100%;
  }

  .main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .tagline {
    font-size: 2.5rem;
    margin-top: 20%;
  }

  .subtagline1 {
    font-size: 1.2rem;
  }
}

/* Medium screens */
@media (min-width: 641px) and (max-width: 1024px)
 {
  .container {
    height: 100%;
  }

  .main {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tagline {
    font-size: 3.5rem;
    margin-top: 25%;
  }

  .subtagline1 {
    font-size: 1.5rem;
  }
}