/* src/app/HomePage.module.css */
.container {
    position: relative;
    min-height: 100vh;
    background: url('/bg.png') no-repeat center center/cover;
   
    
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .tagline {
    color: rgba(255,255,255,1);
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem; /* Add some space below the tagline */
    margin-top: 6.5rem;
    ;
    
  }
  
  .subtagline1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: rgb(195, 213, 237);
    border-radius: 20rem;
    opacity: 50%;
    
  }
  

