.container {
  
    padding: 0 0px;
    max-width: 100%;
    margin: auto;
    height:200vh;
    background-color: whitesmoke;
    
}

.container1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6 ); /* Dark overlay with 50% opacity */
  z-index: 1; /* Place the overlay below the text */}

.container1{
  height:50vh;
  background: url('/cov1.webp') no-repeat center center/cover;
  position: relative;
}
.tagline1{
    padding:10% 5%;
    text-align: center;
   margin-top: 5%;
    font-size: 4rem;
    font-weight: bold;
    color:white; /* Keep text color white or adjust as needed */
  
  }
.tagline{
  padding:1% 5%;
  text-align: center;
 margin-top: 2%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #003459; /* Keep text color white or adjust as needed */

}

.tagline2{
    padding:2% 12%;
    text-align:start;
    color:#003459;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    display: block;
    
    
  
  }
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 2% 15%;
    margin-top: 2rem;
}
.clients{
height: 50%;
width: 80%;
}
/* Responsive styles for medium screens (tablets) */
@media (max-width: 1024px) {
  .container {
      height: 100%; /* Allow dynamic height */
  }

  .container1 {
      height: 40vh; /* Adjust height */
  }

  .tagline1 {
      font-size: 3rem; /* Adjust font size */
      padding:2rem 10rem;
  }

  .tagline {
      font-size: 2rem; /* Adjust font size */
  }

  .cardsContainer {
      grid-template-columns: repeat(2, 1fr); /* Display 2 cards per row */
      padding: 2% 10%;
  }

  .clients {
      height: 70%;
      width: 70%; /* Adjust width */
  }
}

/* Responsive styles for small screens (mobile devices) */
@media (max-width: 768px) {
  .container {
      height: 100%;
  }

  .container1 {
      height: 30vh; /* Reduce height */
  }

  .tagline1 {
      font-size: 2.5rem; /* Reduce font size */
      padding: 10rem 10rem;
       /* Narrow padding */
  }

  .tagline {
      font-size: 1.5rem; /* Further reduce font size */
      padding: 3% 2%; /* Narrow padding */
  }

  .cardsContainer {
      grid-template-columns: 1fr; /* Display 1 card per row */
      padding: 5% 5%; /* Narrow padding for small screens */
  }

  .clients {
      width: 70%; 
      height: 70%; 
   padding: 3% 10% 0% 10%;

  }
}