/* src/components/Header.module.css */

/* General Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 15%;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
}

.logo {
  margin-right: 2rem;
}

.logo img {
  height: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navItem {
  position: relative;
  margin-left: 3rem;
  cursor: pointer;
}

.navItem a,
.navItem span {
  text-decoration: none;
  color: #003459;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navItem a:hover,
.navItem span:hover {
  color: #007ea7;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 1rem;
  display: none;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 200px;
  font-family: 'Times New Roman', Times, serif;
}

.show {
  display: block;
}

.dropdownItem {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdownItem1 {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.dropdownItem:hover {
  background-color: rgb(32, 33, 84);
}

.dropdownItem:hover a {
  color: white;
}

.dropdownItem a {
  color: #003459;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
  font-size: 15px;
}
.dropdownItem1 a {
  color: #003459;
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
  font-size: 15px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

/* Media queries for mobile view */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }

  .nav.open {
    max-height: 500px; /* Adjust based on content */
  }

  .navList {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .navItem {
    margin: 1rem 0;
    color: black;
  }

  .navItem a:hover,
  .navItem span:hover {
    color: #007ea7; /* Use consistent hover color */
  }

  .hamburger {
    display: flex;
  }

  /* Mobile dropdown specific styles */
  .dropdown {
    position: relative;
    background-color:#003459;
    box-shadow: none;
    margin-top: 0;
    width: 100vw;
    
    
  }

  .dropdownItem {
    width: 100%;
    
    text-align: center;
    
    border-bottom: 1px solid #dde4e9;
    
  }
  .dropdownItem1 {
    width: 100%;
    
    text-align: center;
    
    border-bottom: 1px solid #dde4e9;
    
  }

  .dropdownItem:last-child {
    border-bottom: none;
  }

  .dropdownItem:hover {
    background-color: #007ea7;
  }

  .dropdownItem a {
    
    display: block;
    text-align: center;
    font-size: 13px;
    color: white;
  }
  .dropdownItem1 a {
    
    display: block;
    text-align: center;
    font-size: 16px;
    color: white;
  }


}
